bcrypt
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
gunicorn
Werkzeug

click
colorama
dnspython
email-validator
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
packaging
SQLAlchemy
typing_extensions
WTForms
zipp
#Minha biblioteca, estou tentando
#Será que agora vai?


